<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand active" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled active">Disabled</a>
        </li>
        <li>
          <a class="btn btn-primary" (click)="modalLogic(null, 'add')">
            Add Employee
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (ngModelChange)="search(key.value)" #key="ngModel" ngModel  name="key"
        />
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- Modal Add -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Employee</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="nameAdd" class="d-block">name</label>
          <input type="text" ngModel name="name" id="nameAdd" />
          <label for="emailAdd" class="d-block">emailAdd</label>
          <input type="text" ngModel name="email" id="emailadd" />
          <label for="phoneAdd" class="d-block">phone</label>
          <input type="text" ngModel name="phone" id="phoneAdd" />
          <label for="jobTitleAdd" class="d-block">jobTitle</label>
          <input type="text" ngModel name="jobTitle" id="jobTitleAdd" />
          <label for="imgUrlAdd" class="d-block">image Url</label>
          <input type="text" ngModel name="imgUrl" id="imageUrlAdd" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" data-bs-dismiss="modal" [disabled]="addForm.invalid" id="add-employee-button" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Update -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form #updateForm="ngForm">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <input type="text" [ngModel]="editEmployee?.id" name="id">
          <input type="text" [ngModel]="editEmployee?.employeeCode" name="employeCode">
          <label for="nameAdd" class="d-block">name</label>
          <input type="text" [ngModel]="editEmployee?.name" id="nameAdd" name="name" />
          <label for="emailAdd" class="d-block">email</label>
          <input type="text" [ngModel]="editEmployee?.email" id="emailadd" name="email" />
          <label for="phoneAdd" class="d-block">phone</label>
          <input type="text"  [ngModel]="editEmployee?.phone" id="phoneAdd"  name="phone" />
          <label for="jobTitleAdd" class="d-block">jobTitle</label>
          <input type="text"  id="jobTitleAdd" [ngModel]="editEmployee?.jobTitle" name="jobTitle" />
          <label for="imgUrlAdd" class="d-block">image Url</label>
          <input type="text" id="imageUrlAdd" [ngModel]="editEmployee?.imgUrl" name="imgUrl" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" (click)="onUpdateEmployee(updateForm.value)" class="btn btn-primary" id="update-employee-button">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <p>apakah anda benar akan menghapus user dengan username {{deleteEmployee?.name}} dengan jobTitle {{deleteEmployee?.jobTitle}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="onDeleteEmployee(deleteEmployee?.id)" data-bs-dismiss="modal">Save changes</button>
        </div>
    </div>
  </div>
</div>

<div class="container mt-3" id="main-container">
  <div class="row">
    <div
      class="col-md-6 col-xl-3 shadow-lg bg-body-tertiary rounded"
      *ngFor="let employee of employees"
    >
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""
              ><img
                [src]="employee.imgUrl"
                alt=""
                class="img-fluid rounded-circle w-60"
            /></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{ employee.name }}</h5>
            <p class="m-0">{{ employee.jobTitle }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>Email :
            <a href="#">{{ employee.email }}</a>
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Phone : {{ employee.phone }}
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="modalLogic(employee, 'update')"
              class="btn btn-primary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-title="Edit"
              ><i class="fa fa-pencil"></i>
            </a>
            <a
              (click)="modalLogic(employee, 'delete')"
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-title="Delete"
              ><i class="fa fa-times"></i
            ></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <li class="list-inline-item">
              <a
                title=""
                data-placement="top"
                data-toggle="tooltip"
                class="tooltips"
                href=""
                data-original-title="Facebook"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                title=""
                data-placement="top"
                data-toggle="tooltip"
                class="tooltips"
                href=""
                data-original-title="Twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                title=""
                data-placement="top"
                data-toggle="tooltip"
                class="tooltips"
                href=""
                data-original-title="Skype"
                ><i class="fa fa-skype"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
